# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug/Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Typescript
*.tsbuildinfo
